/* 
================================
A sample transition.
Click on the large ball on the left to see the animation.
*/
.anim:active .ball-one {
    left: 150px;
    transition: left .5s ease-in;
  }
  
  /* 
  ================================
  Your code here! 
  Make the small ball on the right roll to the right when the large one hits it.
  
  */
  .anim:active .ball-two {
    /* Hint: manipulate margin-left to roll it, just like with the ball-one above. */
      left: 600px;
      transition: left 0.5s ease-in 0.5s;
      
    /* Double hint: Don't forget about transition-delay! */
  
  }
  
  
  /* 
  ================================
  Necessary CSS Below-- no need to edit */
  
  .ball-one {
    background: #ff97C0;
    border-radius: 50%;
    position: absolute; top: 0px; left: 00px;
    width: 200px; height: 200px;
    margin-top: 20px;
    
  }
  
  .ball-two {
    background: #0097C0;
    border-radius: 50%;
    position: absolute; top: 100px; left: 300px;
    width: 100px; height: 100px;
    margin-top: 20px;
  }
  
  h1 {
    margin-top: 50px
  }
  
  .balk {
    width: 100px;
    height: 100px;
    background: red;

}

.balk:hover {
    width: 300px;
	transition: width 2000ms ease-in-out;  
}